<h1>{{name}}</h1>
<div class="checklist_container">
    {{#each menu}}
    <div>
        <p>
            <label for="input{{@index}}">
                <input id="input{{@index}}" type="checkbox" />
                <span><img src="{{this.imgPath}}">{{this.name}}</span>
            </label>
        </p>
    </div>
    {{/each}}
</div>
<script src="/javascripts/chart.js"></script>