<h2 class="charth2">{{name}}</h2>
<div class="checklist_container">
    {{#each menu}}
    <div class="chartelement">
        <p>
            <label for="input{{@index}}">
                <input id="input{{@index}}" type="checkbox" />
                <span>{{this.name}}</span>
                <img class="chartimg" src="{{this.imgPath}}">
            </label>
        </p>
    </div>
    {{/each}}
</div>
<script src="/javascripts/chart.js"></script>