<h1>{{name}}</h1>
<a href="/logged/charts/{{id}}">view the chart of this menu</a>
{{#each recipes}}
<div>
    <p>{{this.name}}</p>
    <img src="{{this.imgPath}}">
    <span style="display:none">{{this._id}}</span>
    <a href="/logged/recipe/{{this._id}}">recipe details</a>
    <button class="reciperemove">remove this recipe from your menu</button>
</div>
{{/each}}
<script src="/javascripts/recipemenu.js"></script>